---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import FormattedDate from "../FormattedDate.astro";

type Props = CollectionEntry<"catalog">;

const post = Astro.props;
---

<article class="grow-0 shrink-0 p-6">
  <a class="inline-block mb-4" href={`/${post.slug}/`}>
    <Image width={400} height={400} src={post.data.artFront} alt="" />
  </a>
  <h3>
    <strong class="text-xl">{post.data.title}</strong>
    <div>{post.data.artist}</div>
    <span></span>
  </h3>
  <time>
    (<FormattedDate date={post.data.pubDate} />)
  </time>
  <div>
    <a href={`/${post.data.linkMp3}/`}>Descargar</a>
    <a href={`/${post.slug}/`}>+ info</a>
  </div>
</article>
