---
import LinkPrimary from "../ui/LinkPrimary.astro";
import LinkSecondary from "../ui/LinkSecondary.astro";

interface Props {
  linkMp3?: string;
  linkFlac?: string;
  linkYoutube?: string;
  linkBandcamp?: string;
  linkSoundcloud?: string;
}

const { linkMp3, linkFlac, linkYoutube, linkBandcamp, linkSoundcloud } =
  Astro.props;
---

<section class="pb-6">
  <h3 class="sr-only">Album links</h3>
  {linkMp3 && <LinkPrimary url={linkMp3} text="MP3 download" />}
  {linkFlac && <LinkSecondary url={linkFlac} text="FLAC download" />}
  {linkYoutube && <LinkSecondary url={linkYoutube} text="Listen on Youtube" />}
  {
    linkBandcamp && (
      <LinkSecondary url={linkBandcamp} text="Listen on Bandcamp" />
    )
  }
  {
    linkSoundcloud && (
      <LinkSecondary url={linkSoundcloud} text="Listen on Soundcloud" />
    )
  }
</section>
