---
import LinkPrimary from "../ui/LinkPrimary.astro";
import LinkSecondary from "../ui/LinkSecondary.astro";

interface Props {
  linkMp3?: string;
  linkFlac?: string;
  linkYoutube?: string;
  linkBandcamp?: string;
  linkSoundcloud?: string;
}

const { linkMp3, linkFlac, linkYoutube, linkBandcamp, linkSoundcloud } =
  Astro.props;
---

<section class="pb-6">
  <h3 class="sr-only">Album links</h3>
  <div class="flex flex-col md:flex-row gap-3">
    {linkMp3 && <LinkPrimary url={linkMp3} text="Descargar MP3" />}
    {linkFlac && <LinkSecondary url={linkFlac} text="Descargar FLAC" />}
    {
      linkYoutube && (
        <LinkSecondary url={linkYoutube} text="Escuhar en Youtube" />
      )
    }
    {
      linkBandcamp && (
        <LinkSecondary url={linkBandcamp} text="Escuchar en Bandcamp" />
      )
    }
    {
      linkSoundcloud && (
        <LinkSecondary url={linkSoundcloud} text="Escuchar en Soundcloud" />
      )
    }
  </div>
</section>
