---
import "@fontsource/roboto-condensed";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import Box from "../components/catalog/Box.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("catalog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const electronic = posts.filter(
  (album) => album.data.category === "electronic",
);
const unplugged = posts.filter((album) => album.data.category === "unplugged");
const hiphop = posts.filter((album) => album.data.category === "hiphop");
const rock = posts.filter((album) => album.data.category === "rock");
const compilation = posts.filter(
  (album) => album.data.category === "compilation",
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Box title="Música electrónica" albums={electronic} />
      <Box title="Hip Hop" albums={hiphop} />
      <Box title="Unplugged" albums={unplugged} />
      <Box title="Rock" albums={rock} />
      <Box title="Compilados" albums={compilation} />
    </main>
    <Footer />
  </body>
</html>
