---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import Title from "../components/album/Title.astro";
import Artwork from "../components/album/Artwork.astro";
import Links from "../components/album/Links.astro";
import Credits from "../components/album/Credits.astro";

type Props = CollectionEntry<"catalog">["data"];

const {
  title,
  description,
  artist,
  pubDate,
  artFront,
  artBack,
  aboutMusic,
  aboutStudio,
  aboutArtwork,
  linkMp3,
  linkFlac,
  linkYoutube,
  linkBandcamp,
  linkSoundcloud,
} = Astro.props;

const showLinks =
  linkMp3 || linkFlac || linkYoutube || linkBandcamp || linkSoundcloud;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <article class="p-6 bg-stone-100">
        <Title title={title} artist={artist} />
        <Artwork artFront={artFront} artBack={artBack} />
        {
          showLinks && (
            <Links
              linkMp3={linkMp3}
              linkFlac={linkFlac}
              linkYoutube={linkYoutube}
              linkBandcamp={linkBandcamp}
              linkSoundcloud={linkSoundcloud}
            />
          )
        }
        <section class="pb-6">
          <h3>Tracklist</h3>
          <div class="*:list-decimal *:list-inside">
            <slot />
          </div>
        </section>
        <Credits
          pubDate={pubDate}
          aboutMusic={aboutMusic}
          aboutStudio={aboutStudio}
          aboutArtwork={aboutArtwork}
        />
      </article>
      <a
        class="inline-block p-2 bg-slate-800 text-slate-100 rounded-md m-6"
        href="/">volver</a
      >
    </main>
    <Footer />
  </body>
</html>
